<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var appInsights = window.appInsights || function (config) {
            function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = u.createElement(o), i, f; for (s.src = config.url || "//az416426.vo.msecnd.net/scripts/a/ai.0.js", u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ["Event", "Exception", "Metric", "PageView", "Trace", "Ajax"]; i.length;) r("track" + i.pop()); return r("setAuthenticatedUserContext"), r("clearAuthenticatedUserContext"), config.disableExceptionTracking || (i = "onerror", r("_" + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t["_" + i](config, r, u, e, o), s }), t
        }({
            instrumentationKey: "39eb5092-e1b2-4bbb-a528-16283c53f800"
        });

        window.appInsights = appInsights;
        appInsights.trackPageView();
    </script>
</head>




<body>
    <div id="header" class="page-header">
        <h1 class="logo">
            <a href="/">ComicConIT</a>
        </h1>
        <div class="description"> Marvel and Madness</div>
    </div>
    <nav class="navbar navbar-default">
        <ul class="nav navbar-nav">
            <li class="nav-item">
            <li> <a href="/Best">Лучшее</a></li>
            <li class="nav-item">
            <li> @Html.ActionLink("Новое", "New")</li>
            </li>
          
            <li class="nav-item">
                @Html.ActionLink("О нас", "About", "Home")
            </li>
        </ul>
      
        @using (Html.BeginForm("Index", "Comics", FormMethod.Get))
        {        <form class="form-inline col-xs-pull-9">
            <button class="btn btn-primary" style="margin-top: 6px; float: right;" type="submit">Search</button>
            <input id="SearchString" name="SearchString" class="form-control" type="text" style="margin-top: 6px; float: right;" placeholder="Search">

        </form>
        }
    </nav>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("ComicCon", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("О программе", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
